In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
# pip install evalml

In [4]:
!pip install pycaret

Collecting pycaret
  Downloading pycaret-2.3.6-py3-none-any.whl (301 kB)
     |████████████████████████████████| 301 kB 13.3 MB/s
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (from pycaret) (1.1.0)
Collecting scikit-plot
  Downloading scikit_plot-0.3.7-py3-none-any.whl (33 kB)
Requirement already satisfied: spacy<2.4.0 in /usr/local/lib/python3.7/dist-packages (from pycaret) (2.2.4)
Collecting lightgbm>=2.3.1
  Downloading lightgbm-3.3.2-py3-none-manylinux1_x86_64.whl (2.0 MB)
     |████████████████████████████████| 2.0 MB 44.9 MB/s
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from pycaret) (1.3.5)
Collecting pyLDAvis
  Downloading pyLDAvis-3.3.1.tar.gz (1.7 MB)
     |████████████████████████████████| 1.7 MB 46.9 MB/s
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Installing backend dependencies ... done
    Preparing wheel metadata ... done
Requirement already satisfied: nltk in /usr/local/lib/python3.7/dist-packages (from pycaret) (3.2.5)
Requirement already satisfied: wordcloud in /usr/local/lib/python3.7/dist-packages (from pycaret) (1.5.0)
Requirement already satisfied: cufflinks>=0.17.0 in /usr/local/lib/python3.7/dist-packages (from pycaret) (0.17.3)
Collecting imbalanced-learn==0.7.0
  Downloading imbalanced_learn-0.7.0-py3-none-any.whl (167 kB)
     |████████████████████████████████| 167 kB 47.3 MB/s
Requirement already satisfied: seaborn in /usr/local/lib/python3.7/dist-packages (from pycaret) (0.11.2)
Requirement already satisfied: plotly>=4.4.1 in /usr/local/lib/python3.7/dist-packages (from pycaret) (5.5.0)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from pycaret) (3.2.2)
Collecting scikit-learn==0.23.2
  Downloading scikit_learn-0.23.2-cp37-cp37m-manylinux1_x86_64.whl (6.8 MB)
     |████████████████████████████████| 6.8 MB 19.8 MB/s
Collecting mlflow
  Downloading mlflow-1.23.1-py3-none-any.whl (15.6 MB)
     |████████████████████████████████| 15.6 MB 47.6 MB/s
Collecting Boruta
  Downloading Boruta-0.3-py3-none-any.whl (56 kB)
     |████████████████████████████████| 56 kB 4.7 MB/s
Requirement already satisfied: ipywidgets in /usr/local/lib/python3.7/dist-packages (from pycaret) (7.6.5)
Requirement already satisfied: IPython in /usr/local/lib/python3.7/dist-packages (from pycaret) (5.5.0)
Collecting pyod
  Downloading pyod-0.9.7.tar.gz (114 kB)
     |████████████████████████████████| 114 kB 53.0 MB/s
Collecting pandas-profiling>=2.8.0
  Downloading pandas_profiling-3.1.0-py2.py3-none-any.whl (261 kB)
     |████████████████████████████████| 261 kB 50.4 MB/s
Collecting umap-learn
  Downloading umap-learn-0.5.2.tar.gz (86 kB)
     |████████████████████████████████| 86 kB 6.2 MB/s
Requirement already satisfied: textblob in /usr/local/lib/python3.7/dist-packages (from pycaret) (0.15.3)
Requirement already satisfied: scipy<=1.5.4 in /usr/local/lib/python3.7/dist-packages (from pycaret) (1.4.1)
Collecting mlxtend>=0.17.0
  Downloading mlxtend-0.19.0-py2.py3-none-any.whl (1.3 MB)
     |████████████████████████████████| 1.3 MB 43.4 MB/s
Requirement already satisfied: yellowbrick>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from pycaret) (1.3.post1)
Collecting kmodes>=0.10.1
  Downloading kmodes-0.11.1-py2.py3-none-any.whl (19 kB)
Requirement already satisfied: gensim<4.0.0 in /usr/local/lib/python3.7/dist-packages (from pycaret) (3.6.0)
Requirement already satisfied: pyyaml<6.0.0 in /usr/local/lib/python3.7/dist-packages (from pycaret) (3.13)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.7/dist-packages (from imbalanced-learn==0.7.0->pycaret) (1.19.5)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn==0.23.2->pycaret) (3.1.0)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.7/dist-packages (from cufflinks>=0.17.0->pycaret) (1.15.0)
Requirement already satisfied: colorlover>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from cufflinks>=0.17.0->pycaret) (0.3.0)
Requirement already satisfied: setuptools>=34.4.1 in /usr/local/lib/python3.7/dist-packages (from cufflinks>=0.17.0->pycaret) (57.4.0)
Requirement already satisfied: smart-open>=1.2.1 in /usr/local/lib/python3.7/dist-packages (from gensim<4.0.0->pycaret) (5.2.1)
Requirement already satisfied: simplegeneric>0.8 in /usr/local/lib/python3.7/dist-packages (from IPython->pycaret) (0.8.1)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.7/dist-packages (from IPython->pycaret) (0.7.5)
Requirement already satisfied: prompt-toolkit<2.0.0,>=1.0.4 in /usr/local/lib/python3.7/dist-packages (from IPython->pycaret) (1.0.18)
Requirement already satisfied: decorator in /usr/local/lib/python3.7/dist-packages (from IPython->pycaret) (4.4.2)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.7/dist-packages (from IPython->pycaret) (5.1.1)
Requirement already satisfied: pygments in /usr/local/lib/python3.7/dist-packages (from IPython->pycaret) (2.6.1)
Requirement already satisfied: pexpect in /usr/local/lib/python3.7/dist-packages (from IPython->pycaret) (4.8.0)
Requirement already satisfied: nbformat>=4.2.0 in /usr/local/lib/python3.7/dist-packages (from ipywidgets->pycaret) (5.1.3)
Requirement already satisfied: ipykernel>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from ipywidgets->pycaret) (4.10.1)
Requirement already satisfied: ipython-genutils~=0.2.0 in /usr/local/lib/python3.7/dist-packages (from ipywidgets->pycaret) (0.2.0)
Requirement already satisfied: jupyterlab-widgets>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from ipywidgets->pycaret) (1.0.2)
Requirement already satisfied: widgetsnbextension~=3.5.0 in /usr/local/lib/python3.7/dist-packages (from ipywidgets->pycaret) (3.5.2)
Requirement already satisfied: jupyter-client in /usr/local/lib/python3.7/dist-packages (from ipykernel>=4.5.1->ipywidgets->pycaret) (5.3.5)
Requirement already satisfied: tornado>=4.0 in /usr/local/lib/python3.7/dist-packages (from ipykernel>=4.5.1->ipywidgets->pycaret) (5.1.1)
Requirement already satisfied: wheel in /usr/local/lib/python3.7/dist-packages (from lightgbm>=2.3.1->pycaret) (0.37.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->pycaret) (1.3.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->pycaret) (0.11.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->pycaret) (2.8.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->pycaret) (3.0.7)
Requirement already satisfied: jupyter-core in /usr/local/lib/python3.7/dist-packages (from nbformat>=4.2.0->ipywidgets->pycaret) (4.9.1)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in /usr/local/lib/python3.7/dist-packages (from nbformat>=4.2.0->ipywidgets->pycaret) (4.3.3)
Requirement already satisfied: importlib-resources>=1.4.0 in /usr/local/lib/python3.7/dist-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets->pycaret) (5.4.0)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets->pycaret) (4.10.1)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in /usr/local/lib/python3.7/dist-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets->pycaret) (0.18.1)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets->pycaret) (3.10.0.2)
Requirement already satisfied: attrs>=17.4.0 in /usr/local/lib/python3.7/dist-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets->pycaret) (21.4.0)
Requirement already satisfied: zipp>=3.1.0 in /usr/local/lib/python3.7/dist-packages (from importlib-resources>=1.4.0->jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets->pycaret) (3.7.0)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pycaret) (2018.9)
Requirement already satisfied: jinja2>=2.11.1 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling>=2.8.0->pycaret) (2.11.3)
Collecting tangled-up-in-unicode==0.1.0
  Downloading tangled_up_in_unicode-0.1.0-py3-none-any.whl (3.1 MB)
     |████████████████████████████████| 3.1 MB 48.5 MB/s
Collecting pydantic>=1.8.1
  Downloading pydantic-1.9.0-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (10.9 MB)
     |████████████████████████████████| 10.9 MB 44.1 MB/s
Collecting phik>=0.11.1
  Downloading phik-0.12.0-cp37-cp37m-manylinux2010_x86_64.whl (675 kB)
     |████████████████████████████████| 675 kB 46.0 MB/s
Collecting requests>=2.24.0
  Downloading requests-2.27.1-py2.py3-none-any.whl (63 kB)
     |████████████████████████████████| 63 kB 1.7 MB/s
Collecting pyyaml<6.0.0
  Downloading PyYAML-5.4.1-cp37-cp37m-manylinux1_x86_64.whl (636 kB)
     |████████████████████████████████| 636 kB 48.1 MB/s
Requirement already satisfied: tqdm>=4.48.2 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling>=2.8.0->pycaret) (4.62.3)
Collecting visions[type_image_path]==0.7.4
  Downloading visions-0.7.4-py3-none-any.whl (102 kB)
     |████████████████████████████████| 102 kB 11.6 MB/s
Collecting htmlmin>=0.1.12
  Downloading htmlmin-0.1.12.tar.gz (19 kB)
Requirement already satisfied: markupsafe~=2.0.1 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling>=2.8.0->pycaret) (2.0.1)
Collecting multimethod>=1.4
  Downloading multimethod-1.7-py3-none-any.whl (9.5 kB)
Requirement already satisfied: missingno>=0.4.2 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling>=2.8.0->pycaret) (0.5.0)
Collecting joblib
  Downloading joblib-1.0.1-py3-none-any.whl (303 kB)
     |████████████████████████████████| 303 kB 46.2 MB/s
Requirement already satisfied: networkx>=2.4 in /usr/local/lib/python3.7/dist-packages (from visions[type_image_path]==0.7.4->pandas-profiling>=2.8.0->pycaret) (2.6.3)
Requirement already satisfied: Pillow in /usr/local/lib/python3.7/dist-packages (from visions[type_image_path]==0.7.4->pandas-profiling>=2.8.0->pycaret) (7.1.2)
Collecting imagehash
  Downloading ImageHash-4.2.1.tar.gz (812 kB)
     |████████████████████████████████| 812 kB 45.6 MB/s
Collecting scipy<=1.5.4
  Downloading scipy-1.5.4-cp37-cp37m-manylinux1_x86_64.whl (25.9 MB)
     |████████████████████████████████| 25.9 MB 65.3 MB/s
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.7/dist-packages (from plotly>=4.4.1->pycaret) (8.0.1)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.7/dist-packages (from prompt-toolkit<2.0.0,>=1.0.4->IPython->pycaret) (0.2.5)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.7/dist-packages (from requests>=2.24.0->pandas-profiling>=2.8.0->pycaret) (2.0.11)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.24.0->pandas-profiling>=2.8.0->pycaret) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.24.0->pandas-profiling>=2.8.0->pycaret) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.24.0->pandas-profiling>=2.8.0->pycaret) (1.24.3)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in /usr/local/lib/python3.7/dist-packages (from spacy<2.4.0->pycaret) (1.0.6)
Requirement already satisfied: thinc==7.4.0 in /usr/local/lib/python3.7/dist-packages (from spacy<2.4.0->pycaret) (7.4.0)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from spacy<2.4.0->pycaret) (2.0.6)
Requirement already satisfied: catalogue<1.1.0,>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from spacy<2.4.0->pycaret) (1.0.0)
Requirement already satisfied: blis<0.5.0,>=0.4.0 in /usr/local/lib/python3.7/dist-packages (from spacy<2.4.0->pycaret) (0.4.1)
Requirement already satisfied: wasabi<1.1.0,>=0.4.0 in /usr/local/lib/python3.7/dist-packages (from spacy<2.4.0->pycaret) (0.9.0)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from spacy<2.4.0->pycaret) (3.0.6)
Requirement already satisfied: plac<1.2.0,>=0.9.6 in /usr/local/lib/python3.7/dist-packages (from spacy<2.4.0->pycaret) (1.1.3)
Requirement already satisfied: srsly<1.1.0,>=1.0.2 in /usr/local/lib/python3.7/dist-packages (from spacy<2.4.0->pycaret) (1.0.5)
Requirement already satisfied: notebook>=4.4.1 in /usr/local/lib/python3.7/dist-packages (from widgetsnbextension~=3.5.0->ipywidgets->pycaret) (5.3.1)
Requirement already satisfied: Send2Trash in /usr/local/lib/python3.7/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (1.8.0)
Requirement already satisfied: nbconvert in /usr/local/lib/python3.7/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (5.6.1)
Requirement already satisfied: terminado>=0.8.1 in /usr/local/lib/python3.7/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (0.13.1)
Requirement already satisfied: pyzmq>=13 in /usr/local/lib/python3.7/dist-packages (from jupyter-client->ipykernel>=4.5.1->ipywidgets->pycaret) (22.3.0)
Requirement already satisfied: ptyprocess in /usr/local/lib/python3.7/dist-packages (from terminado>=0.8.1->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (0.7.0)
Requirement already satisfied: PyWavelets in /usr/local/lib/python3.7/dist-packages (from imagehash->visions[type_image_path]==0.7.4->pandas-profiling>=2.8.0->pycaret) (1.2.0)
Collecting databricks-cli>=0.8.7
  Downloading databricks-cli-0.16.4.tar.gz (58 kB)
     |████████████████████████████████| 58 kB 6.0 MB/s
Requirement already satisfied: packaging in /usr/local/lib/python3.7/dist-packages (from mlflow->pycaret) (21.3)
Requirement already satisfied: click>=7.0 in /usr/local/lib/python3.7/dist-packages (from mlflow->pycaret) (7.1.2)
Collecting querystring-parser
  Downloading querystring_parser-1.2.4-py2.py3-none-any.whl (7.9 kB)
Requirement already satisfied: cloudpickle in /usr/local/lib/python3.7/dist-packages (from mlflow->pycaret) (1.3.0)
Requirement already satisfied: entrypoints in /usr/local/lib/python3.7/dist-packages (from mlflow->pycaret) (0.4)
Requirement already satisfied: protobuf>=3.7.0 in /usr/local/lib/python3.7/dist-packages (from mlflow->pycaret) (3.17.3)
Collecting gunicorn
  Downloading gunicorn-20.1.0-py3-none-any.whl (79 kB)
     |████████████████████████████████| 79 kB 8.4 MB/s
Collecting prometheus-flask-exporter
  Downloading prometheus_flask_exporter-0.18.7-py3-none-any.whl (17 kB)
Collecting alembic
  Downloading alembic-1.7.6-py3-none-any.whl (210 kB)
     |████████████████████████████████| 210 kB 53.0 MB/s
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.7/dist-packages (from mlflow->pycaret) (1.4.31)
Collecting gitpython>=2.1.0
  Downloading GitPython-3.1.26-py3-none-any.whl (180 kB)
     |████████████████████████████████| 180 kB 50.9 MB/s
Requirement already satisfied: Flask in /usr/local/lib/python3.7/dist-packages (from mlflow->pycaret) (1.1.4)
Requirement already satisfied: sqlparse>=0.3.1 in /usr/local/lib/python3.7/dist-packages (from mlflow->pycaret) (0.4.2)
Collecting docker>=4.0.0
  Downloading docker-5.0.3-py2.py3-none-any.whl (146 kB)
     |████████████████████████████████| 146 kB 51.6 MB/s
Requirement already satisfied: tabulate>=0.7.7 in /usr/local/lib/python3.7/dist-packages (from databricks-cli>=0.8.7->mlflow->pycaret) (0.8.9)
Collecting websocket-client>=0.32.0
  Downloading websocket_client-1.2.3-py3-none-any.whl (53 kB)
     |████████████████████████████████| 53 kB 2.1 MB/s
Collecting gitdb<5,>=4.0.1
  Downloading gitdb-4.0.9-py3-none-any.whl (63 kB)
     |████████████████████████████████| 63 kB 2.0 MB/s
Collecting smmap<6,>=3.0.1
  Downloading smmap-5.0.0-py3-none-any.whl (24 kB)
Collecting Mako
  Downloading Mako-1.1.6-py2.py3-none-any.whl (75 kB)
     |████████████████████████████████| 75 kB 4.7 MB/s
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from sqlalchemy->mlflow->pycaret) (1.1.2)
Requirement already satisfied: itsdangerous<2.0,>=0.24 in /usr/local/lib/python3.7/dist-packages (from Flask->mlflow->pycaret) (1.1.0)
Requirement already satisfied: Werkzeug<2.0,>=0.15 in /usr/local/lib/python3.7/dist-packages (from Flask->mlflow->pycaret) (1.0.1)
Requirement already satisfied: bleach in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (4.1.0)
Requirement already satisfied: testpath in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (0.5.0)
Requirement already satisfied: mistune<2,>=0.8.1 in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (0.8.4)
Requirement already satisfied: defusedxml in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (0.7.1)
Requirement already satisfied: pandocfilters>=1.4.1 in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (1.5.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.7/dist-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (0.5.1)
Requirement already satisfied: prometheus-client in /usr/local/lib/python3.7/dist-packages (from prometheus-flask-exporter->mlflow->pycaret) (0.13.1)
Collecting funcy
  Downloading funcy-1.17-py2.py3-none-any.whl (33 kB)
Collecting pyLDAvis
  Downloading pyLDAvis-3.3.0.tar.gz (1.7 MB)
     |████████████████████████████████| 1.7 MB 19.3 MB/s
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Installing backend dependencies ... done
    Preparing wheel metadata ... done
  Downloading pyLDAvis-3.2.2.tar.gz (1.7 MB)
     |████████████████████████████████| 1.7 MB 44.2 MB/s
Requirement already satisfied: numexpr in /usr/local/lib/python3.7/dist-packages (from pyLDAvis->pycaret) (2.8.1)
Requirement already satisfied: future in /usr/local/lib/python3.7/dist-packages (from pyLDAvis->pycaret) (0.16.0)
Requirement already satisfied: numba>=0.35 in /usr/local/lib/python3.7/dist-packages (from pyod->pycaret) (0.51.2)
Requirement already satisfied: statsmodels in /usr/local/lib/python3.7/dist-packages (from pyod->pycaret) (0.10.2)
Requirement already satisfied: llvmlite<0.35,>=0.34.0.dev0 in /usr/local/lib/python3.7/dist-packages (from numba>=0.35->pyod->pycaret) (0.34.0)
Requirement already satisfied: patsy>=0.4.0 in /usr/local/lib/python3.7/dist-packages (from statsmodels->pyod->pycaret) (0.5.2)
Collecting pynndescent>=0.5
  Downloading pynndescent-0.5.6.tar.gz (1.1 MB)
     |████████████████████████████████| 1.1 MB 43.0 MB/s
Building wheels for collected packages: htmlmin, imagehash, databricks-cli, pyLDAvis, pyod, umap-learn, pynndescent
  Building wheel for htmlmin (setup.py) ... done
  Created wheel for htmlmin: filename=htmlmin-0.1.12-py3-none-any.whl size=27098 sha256=0b17543701e7b538656a32301cdee6de0db9bc0dbe3b6d4cbf2d16945e6f23fe
  Stored in directory: /root/.cache/pip/wheels/70/e1/52/5b14d250ba868768823940c3229e9950d201a26d0bd3ee8655
  Building wheel for imagehash (setup.py) ... done
  Created wheel for imagehash: filename=ImageHash-4.2.1-py2.py3-none-any.whl size=295206 sha256=f420d945b318c27323f874f3845c82fc4b63c0ff4f768e26da3cf7c5402257ac
  Stored in directory: /root/.cache/pip/wheels/4c/d5/59/5e3e297533ddb09407769762985d134135064c6831e29a914e

In [5]:
# Loading the Data
train=pd.read_csv('/content/drive/MyDrive/DataSets/Data/Cascade/train.csv')
test=pd.read_csv('/content/drive/MyDrive/DataSets/Data/Cascade/test.csv')
sample_submission=pd.read_csv('/content/drive/MyDrive/DataSets/Data/Cascade/sample_submission.csv')

In [6]:
train.head()

            order_time  order_id  ... session_time cancelled_time
0  2021-01-26 02:21:35    556753  ...          NaN            NaN
1  2021-01-26 02:33:16    556754  ...     3.266667            NaN
2  2021-01-26 02:39:49    556755  ...     9.816667            NaN
3  2021-01-26 02:47:53    556756  ...    17.533333            NaN
4  2021-01-26 03:06:30    556757  ...     1.350000            NaN

[5 rows x 20 columns]

In [7]:
train.shape

(450000, 20)

In [8]:
test.head(1000)

              order_time  order_id  ... reassigned_order session_time
0    2021-02-06 10:03:24    130231  ...              NaN   273.400000
1    2021-02-06 10:03:26    130232  ...              NaN   252.100000
2    2021-02-06 10:03:27    130233  ...              NaN   241.383333
3    2021-02-06 10:03:29    130234  ...              NaN   291.933333
4    2021-02-06 10:03:35    130235  ...              NaN   247.133333
..                   ...       ...  ...              ...          ...
995  2021-02-06 11:04:57    131226  ...              NaN   247.250000
996  2021-02-06 11:04:57    131227  ...              NaN   410.316667
997  2021-02-06 11:04:58    131228  ...              NaN    15.033333
998  2021-02-06 11:05:03    131229  ...              NaN   316.650000
999  2021-02-06 11:05:06    131230  ...              NaN   196.483333

[1000 rows x 16 columns]

train.csv: This file contains one row for each order created in a specific time frame. The columns are:

- order_id : unique id for each order
-order_time: time of the creation of order by the client
- order_date : date of the order
-allot_time: time of allocation of order to the rider
- accept_time: time of acceptance of the order by the - rider (if available)
- pickup_time: time of pickup of the order (if available)
- delivered_time: time of delivery of the order (if available)
- cancelled_time: time of cancellation of order (if the order was cancelled)
- cancelled: whether the order was cancelled
- rider_id: unique id for each rider
- first_mile_distance: road distance from rider’s - - - location to the pickup location
- last_mile_distance: road distance from pickup - - - - location to the delivery location
- allotted_orders: total number of orders allotted to the rider in the 30 days before (not including) order_date
- delivered_orders: total number of orders delivered by the rider in the 30 days before (not including) order_date
- undelivered_orders: total number of orders allotted to but not delivered by the rider (i.e. cancelled) in the 30 days before (not including) order_date
- lifetime_order_count: total number of orders delivered by the rider at any time before order_date
- reassigned_order: whether the order was reassigned to this rider
- reassignment_method: if the order was reassigned, whether the reassignment was done manually (by the ops team) or automatically
- reassignment_reason: a more detailed reason for the reassignment
- session_time: total time the rider had been online on order_date before order_time

In [9]:
# EDA nathi jarur
# Data Pre Processing and Feature Engineering
# Cleaning the Data
train.isnull().sum()
# Strategy
# The 95 rows where accept time is not given - REMOVE
# The 1497 Pickup Time not given - Replace with time +1,2 mins acc. to trend to the time order was place/ accepted or whatever is available
# The 3148 Delivered time not given must be replace with an average time based on last mile dist, or by Regression whatever suits best
# Cancelled 1 value to be replaced with 1
# Alloted Orders to be replaced by Average
# Delivered Orders ~ 97% of Alloted Orders
# Undelivered Orders -> Total orders - Delivered orders  or Total -  98% of total if delivered not give, else REMOVE
# Lifetime Order Count - Make 103% of Delivered Orders if Available otherwise Remove
# Session Time -> Replace with mean
# Reassigned Method -> 0 Empty, 1 Auto, 2 Manual
# Reassignment reason -> 0,1,2 in Case of Empty
# Cancelled waala ma sarkhu karvu padse Feature Engineering
# Create an Ensemble Model

order_time                   0
order_id                     0
order_date                   0
allot_time                   0
accept_time                157
pickup_time               2421
delivered_time            5218
rider_id                     0
first_mile_distance          0
last_mile_distance           0
alloted_orders           16948
delivered_orders         17341
cancelled                    0
undelivered_orders       17341
lifetime_order_count        53
reassignment_method     436256
reassignment_reason     436247
reassigned_order        436247
session_time              3675
cancelled_time          444782
dtype: int64

In [10]:
train.dropna(subset=['pickup_time'], inplace=True)
# test.dropna(subset=['accept_time'], inplace=True)
train.dropna(subset=['delivered_time'], inplace=True)

In [11]:
train.dropna(subset=['accept_time'], inplace=True)
test.dropna(subset=['accept_time'], inplace=True)

In [12]:
train.dtypes

order_time               object
order_id                  int64
order_date               object
allot_time               object
accept_time              object
pickup_time              object
delivered_time           object
rider_id                  int64
first_mile_distance     float64
last_mile_distance      float64
alloted_orders          float64
delivered_orders        float64
cancelled                 int64
undelivered_orders      float64
lifetime_order_count    float64
reassignment_method      object
reassignment_reason      object
reassigned_order        float64
session_time            float64
cancelled_time           object
dtype: object

In [13]:
train.drop(['order_date'], axis = 1,inplace=True)
test.drop(['order_date'], axis = 1,inplace=True)

In [14]:
train.head()

            order_time  order_id  ... session_time cancelled_time
0  2021-01-26 02:21:35    556753  ...          NaN            NaN
1  2021-01-26 02:33:16    556754  ...     3.266667            NaN
2  2021-01-26 02:39:49    556755  ...     9.816667            NaN
3  2021-01-26 02:47:53    556756  ...    17.533333            NaN
4  2021-01-26 03:06:30    556757  ...     1.350000            NaN

[5 rows x 19 columns]

In [15]:
train['order_time']=train['order_time'].str[10:]
train['allot_time']=train['allot_time'].str[10:]
train['accept_time']=train['accept_time'].str[10:]
train['pickup_time']=train['pickup_time'].str[10:]
train['delivered_time']=train['delivered_time'].str[10:]
test['order_time']=test['order_time'].str[10:]
test['allot_time']=test['allot_time'].str[10:]
test['accept_time']=test['accept_time'].str[10:]
# test['pickup_time']=test['pickup_time'].str[10:]
# test['delivered_time']=test['delivered_time'].str[10:]

In [16]:
train.head()

  order_time  order_id  ... session_time cancelled_time
0   02:21:35    556753  ...          NaN            NaN
1   02:33:16    556754  ...     3.266667            NaN
2   02:39:49    556755  ...     9.816667            NaN
3   02:47:53    556756  ...    17.533333            NaN
4   03:06:30    556757  ...     1.350000            NaN

[5 rows x 19 columns]

- Durations are more Important not a Time Series Data
- Day of the Week is More Important and not the Date
- Time of the day is needed as a Label Encoding
- Rider Id is immaterial but check for duplicates
- Last Mile and First Mile Distance is important
- Cancelled - Decision is obviously important 
- Order ID is not important
- Accept time not imp, Order Time- Accept time duration needed
- Accept Time - Pickup Time and Order Time - Pickup Time Imp
- Time of cancel from all the checkpoints needed
- Delivered/Alloted ratio
- Undelivered / Alloted ratio
- Reassigned order 0 or 1
- Reassigned Method One Hot Encoding
- Session Time As it is

In [17]:
# train['order_time']=str(train['order_time'])
# train.order_time.dtype

In [18]:
duplicate = train[train.duplicated('rider_id')]
duplicate

       order_time  order_id  ... session_time cancelled_time
25       03:34:09    556778  ...     3.883333            NaN
35       03:37:37    556788  ...    67.616667            NaN
40       03:38:40    556793  ...     8.666667            NaN
45       03:39:49    556798  ...     5.566667            NaN
51       03:42:10    556804  ...     0.433333            NaN
...           ...       ...  ...          ...            ...
449995   10:03:16    130226  ...   369.516667            NaN
449996   10:03:17    130227  ...   239.133333            NaN
449997   10:03:18    130228  ...   204.150000            NaN
449998   10:03:19    130229  ...    65.583333            NaN
449999   10:03:24    130230  ...   212.000000            NaN

[425772 rows x 19 columns]

In [19]:
# train['order_time'] = pd.Series([val.time() for val in train['order_time']])
# train['order_time'] = pd.to_datetime(train['order_time'],format).apply(lambda x: x.time())

In [20]:
train.isnull().sum()

order_time                   0
order_id                     0
allot_time                   0
accept_time                  0
pickup_time                  0
delivered_time               0
rider_id                     0
first_mile_distance          0
last_mile_distance           0
alloted_orders           16299
delivered_orders         16486
cancelled                    0
undelivered_orders       16486
lifetime_order_count         2
reassignment_method     431757
reassignment_reason     431751
reassigned_order        431751
session_time              3531
cancelled_time          444782
dtype: int64

In [21]:
test.isnull().sum()

order_time                   0
order_id                     0
allot_time                   0
accept_time                  0
rider_id                     0
first_mile_distance          0
last_mile_distance           0
alloted_orders            4768
delivered_orders          4879
undelivered_orders        4879
lifetime_order_count       778
reassignment_method     140148
reassignment_reason     140145
reassigned_order        140145
session_time              5050
dtype: int64

In [22]:
# Alloted to be replace by the Average
train.drop(['alloted_orders'], axis = 1,inplace=True)
test.drop(['alloted_orders'], axis = 1,inplace=True)
train.drop(['delivered_orders'], axis = 1,inplace=True)
test.drop(['delivered_orders'], axis = 1,inplace=True)
train.drop(['undelivered_orders'], axis = 1,inplace=True)
test.drop(['undelivered_orders'], axis = 1,inplace=True)
train.drop(['lifetime_order_count'], axis = 1,inplace=True)
test.drop(['lifetime_order_count'], axis = 1,inplace=True)

In [23]:
train.isnull().sum()

order_time                  0
order_id                    0
allot_time                  0
accept_time                 0
pickup_time                 0
delivered_time              0
rider_id                    0
first_mile_distance         0
last_mile_distance          0
cancelled                   0
reassignment_method    431757
reassignment_reason    431751
reassigned_order       431751
session_time             3531
cancelled_time         444782
dtype: int64

In [24]:
train.reassignment_method.unique()

array([nan, 'auto', 'manual'], dtype=object)

In [25]:
train.reassignment_reason.unique()

array([nan, 'Reassignment Request from SE portal.',
       'Auto Reassignment basis Inaction. coreengine.tasks.repush_order_to_aa_bucket',
       'Reassign'], dtype=object)

In [26]:
train.reassigned_order.unique()

array([nan,  1.])

In [27]:
train.drop(['cancelled_time'], axis = 1,inplace=True)

In [28]:
train.drop(['session_time'], axis = 1,inplace=True)

In [29]:
# One Hot Encoding and Imputing Lst Three
train['reassignment_method']=train['reassignment_method'].fillna('not_reassigned')

In [30]:
train['reassignment_reason']=train['reassignment_reason'].fillna('no_reason')

In [31]:
train['reassigned_order']=train['reassigned_order'].fillna(0)

In [32]:
train.isnull().sum()

order_time             0
order_id               0
allot_time             0
accept_time            0
pickup_time            0
delivered_time         0
rider_id               0
first_mile_distance    0
last_mile_distance     0
cancelled              0
reassignment_method    0
reassignment_reason    0
reassigned_order       0
dtype: int64

In [33]:
# Convert to date time and Add Durations to j mel padse
# import preprocessing from sklearn
from sklearn.preprocessing import LabelEncoder
# creating instance of labelencoder
labelencoder = LabelEncoder()
reassignment_methods=['not_reassigned', 'auto', 'manual']
reassignment_reasons=['no_reasons', 'Reassignment Request from SE portal.',
       'Auto Reassignment basis Inaction. coreengine.tasks.repush_order_to_aa_bucket',
       'Reassign']
train_one_hot=train[['reassignment_method','reassignment_reason']]
train_one_hot=pd.get_dummies(train_one_hot)
train_one_hot.head()

   reassignment_method_auto  ...  reassignment_reason_no_reason
0                         0  ...                              1
1                         0  ...                              1
2                         0  ...                              1
3                         0  ...                              1
4                         0  ...                              1

[5 rows x 7 columns]

In [34]:
train['reassignment_method_auto'] = train_one_hot['reassignment_method_auto']
train['reassignment_method_manual'] = train_one_hot['reassignment_method_manual']
train['reassignment_method_not_reassigned'] = train_one_hot['reassignment_method_not_reassigned']
train['reassignment_reason_Auto Reassignment basis Inaction. coreengine.tasks.repush_order_to_aa_bucket'] = train_one_hot['reassignment_reason_Auto Reassignment basis Inaction. coreengine.tasks.repush_order_to_aa_bucket']
train['reassignment_reason_Reassign'] = train_one_hot['reassignment_reason_Reassign']
train['reassignment_reason_Reassignment Request from SE portal.'] = train_one_hot['reassignment_reason_Reassignment Request from SE portal.']
train['reassignment_reason_no_reason'] = train_one_hot['reassignment_reason_no_reason']

In [35]:
train.drop(['reassignment_method','reassignment_reason'],axis=1,inplace=True)

In [36]:
# Converting to Datetime and also getting durations
train.dtypes

order_time                                                                                           object
order_id                                                                                              int64
allot_time                                                                                           object
accept_time                                                                                          object
pickup_time                                                                                          object
delivered_time                                                                                       object
rider_id                                                                                              int64
first_mile_distance                                                                                 float64
last_mile_distance                                                                                  float64
cancelled                                                                                             int64
reassigned_order                                                                                    float64
reassignment_method_auto                                                                              uint8
reassignment_method_manual                                                                            uint8
reassignment_method_not_reassigned                                                                    uint8
reassignment_reason_Auto Reassignment basis Inaction. coreengine.tasks.repush_order_to_aa_bucket      uint8
reassignment_reason_Reassign                                                                          uint8
reassignment_reason_Reassignment Request from SE portal.                                              uint8
reassignment_reason_no_reason                                                                         uint8
dtype: object

In [37]:
train.head()

  order_time  ...  reassignment_reason_no_reason
0   02:21:35  ...                              1
1   02:33:16  ...                              1
2   02:39:49  ...                              1
3   02:47:53  ...                              1
4   03:06:30  ...                              1

[5 rows x 18 columns]

In [38]:
# train['order_time'] = train['order_time'].astype('datetime64[ns]')
train['order_time_t'] = pd.to_datetime(train['order_time'], errors = 'coerce')
train[train['order_time_t'].isna()]

       order_time  order_id  ... reassignment_reason_no_reason order_time_t
0        02:21:35    556753  ...                             1          NaT
1        02:33:16    556754  ...                             1          NaT
2        02:39:49    556755  ...                             1          NaT
3        02:47:53    556756  ...                             1          NaT
4        03:06:30    556757  ...                             1          NaT
...           ...       ...  ...                           ...          ...
449995   10:03:16    130226  ...                             1          NaT
449996   10:03:17    130227  ...                             1          NaT
449997   10:03:18    130228  ...                             1          NaT
449998   10:03:19    130229  ...                             1          NaT
449999   10:03:24    130230  ...                             1          NaT

[444782 rows x 19 columns]

In [39]:
df_temp = train[train['order_time_t'].isna()]
train.loc[df_temp.index, 'order_time']= df_temp['order_time']

In [40]:
train.head()
train.drop(['order_time_t'],axis=1,inplace=True)

In [ ]:
train['allot_time_t'] = pd.to_datetime(train['allot_time'], errors = 'coerce')
train[train['allot_time_t'].isna()]
df_temp = train[train['allot_time_t'].isna()]
train.loc[df_temp.index, 'allot_time']= df_temp['allot_time'] 
train.drop(['allot_time_t'],axis=1,inplace=True)

train['accept_time_t'] = pd.to_datetime(train['accept_time'], errors = 'coerce')
train[train['accept_time_t'].isna()]
df_temp = train[train['accept_time_t'].isna()]
train.loc[df_temp.index, 'accept_time']= df_temp['accept_time'] 
train.drop(['accept_time_t'],axis=1,inplace=True)

train['pickup_time_t'] = pd.to_datetime(train['pickup_time'], errors = 'coerce')
train[train['pickup_time_t'].isna()]
df_temp = train[train['pickup_time_t'].isna()]
train.loc[df_temp.index, 'pickup_time']= df_temp['pickup_time'] 
train.drop(['pickup_time_t'],axis=1,inplace=True)


train['delivered_time_t'] = pd.to_datetime(train['delivered_time'], errors = 'coerce')
train[train['delivered_time_t'].isna()]
df_temp = train[train['delivered_time_t'].isna()]
train.loc[df_temp.index, 'delivered_time']= df_temp['delivered_time'] 
train.drop(['delivered_time_t'],axis=1,inplace=True)

In [ ]:
# Now we will add durations by taking time Differences and then drop the Columns and then Build Models
train.head()

In [ ]:
# # Take Differences of two Times
# train['diff'] = train['allot_time'] - train['order_time']
# train['diff']

In [ ]:
from pycaret.classification import *
s= setup(data = train, target = 'cancelled')